/* General Styles */
body {
    margin: 0;
    padding: 0;
    background: #65001f;
    font-family: Arial, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hidden {
    display: none;
}

.white-background {
    background: white;
    transition: background 0.5s ease;
}

/* Heart Animation */
.heart {
    animation: pulse 0.5s infinite;
    cursor: pointer;
}

.shape {
    position: relative;
    width: 200px;
    height: 160px;
}

.shape:before, .shape:after {
    position: absolute;
    content: "";
    left: 100px;
    top: 0;
    width: 100px;
    height: 160px;
    background: #fc2e5a;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.shape:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

/* Text Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Adds a slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Text returns to its original position */
    }
}

@keyframes tilt {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.fade-in {
    animation: fadeIn 2s ease-out; /* Increased duration for more noticeable appearance */
}

.tilt {
    animation: tilt 1s infinite; /* Adjust the duration as needed */
}

.typing {
    animation: typing 2s steps(30, end), fadeIn 2s ease-out; /* Typing animation followed by fade-in */
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #4a4a4a; /* Cursor effect */
}

/* Styling for Messages */
#long-message {
    color: #4a4a4a; /* Dark gray */
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    display: block; /* Adjust width to fit content */
    margin: 0 auto; /* Center horizontally */
    padding: 0 10px; /* Add horizontal padding for margins */
    max-width: calc(100% - 40px); /* Limit maximum width while maintaining margins */
    overflow-wrap: break-word; /* Ensure long words break to fit */
    box-sizing: border-box; /* Include padding in width calculation */
}

#birthday-message, #additional-message {
    color: #4a4a4a; /* Dark gray */
    font-size: 2em;
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    width: 90%; /* Adjust to fit the text within the container */
    max-width: 800px; /* Limit the maximum width */
    overflow-wrap: break-word; /* Ensure long words break to fit */
}

#long-message {
    margin-bottom: 10px; /* Space between the long message and the birthday message */
}

#additional-message {
    margin-top: 10px; /* Space between the cupcake image and the additional message */
}
